/* FINCLOUD */
html[data-theme='light'] {
    /* VARIABLES DE COMPONENTES DE BOOTSTRAP */
    --text: #3f3f3f;
    --text-900: rgba(63, 63, 63, 0.9);
    --text-800: rgba(63, 63, 63, 0.8);
    --text-700: rgba(63, 63, 63, 0.7);
    --text-600: rgba(63, 63, 63, 0.6);
    --text-500: rgba(63, 63, 63, 0.5);
    --text-400: rgba(63, 63, 63, 0.4);
    --text-300: rgba(63, 63, 63, 0.3);
    --text-200: rgba(63, 63, 63, 0.2);
    --text-100: rgba(63, 63, 63, 0.1);
    --text-transparent: rgba(63, 63, 63, 0);
    --text-contrary: #FFF;

    --background: #fff;
    --navbar-background: #fff;
    --navbar-text-color: #353149;
    --navbar-brand-filter: initial;
    --panel-background: #f4f5f6; /* dfe0e1 c6c7c8 adaeaf 949596*/
    --panel-background-rich: #f0f1f2;
    --modal-background: #fff;
    --backdrop-opacity: 0.5;
    --tooltip-background: #353149;
    --tooltip-text-color: #FFF;
    --card-border: 0;

    --form-control-border: #ced4da;
    --form-group-text-background: #e9ecef;

    --table-background: #fafbfc;
    --table-in-modal-background: #fafbfc;
    --table-background-odd: rgba(0, 0, 0, 0.028);
    --table-hover: rgba(0, 0, 0, 0.025);
    --table-border: #dee2e6;
    --table-header-text-color: #353149;


    /*CALCULOS DESDE EL COLOR PRINCIPAL:
        normal-rich: (podría usar el mismo que richer...)
        normal-richer: monochromatic -1
        normal-richest: monochromatic -2
        light: tint 8
        lighter: tint 9
        light-rich: tint 7
        dark: shade 6
        darker: shade 8
    */


    /* COLORES */
    /*--primary-normal: #f16f62;
    --primary-normal-500: rgba(241, 111, 98, 0.5);
    --primary-normal-075: rgba(241, 111, 98, 0.075);
    --primary-normal-rich: #ef5a4b;
    --primary-normal-richer: #ef5a4b;
    --primary-normal-richest: #ed4433;
    --primary-light: #fad3cf;
    --primary-lighter: #fce2df;
    --primary-light-rich: #f9c5c0;
    --primary-dark: #783731;
    --primary-darker: #48211d;
    */

    --secondary-normal: #6c757d;
    --secondary-normal-500: rgba(108, 117, 125, 0.5);
    --secondary-normal-rich: #5a6268;
    --secondary-normal-richer: #545b62;
    --secondary-normal-richest: #4e555b;
    --secondary-light: #d6d8db;
    --secondary-lighter: #e2e3e5;
    --secondary-light-rich: #c8cbcf;
    --secondary-dark: #383d41;
    --secondary-darker: #202326;

    --success-normal: #28a745;
    --success-normal-500: rgba(40, 167, 69, 0.5);
    --success-normal-rich: #218838;
    --success-normal-richer: #1e7e34;
    --success-normal-richest: #1c7430;
    --success-light: #c3e6cb;
    --success-lighter: #d4edda;
    --success-light-rich: #b1dfbb;
    --success-dark: #155724;
    --success-darker: #0b2e13;

    --info-normal: #353149;
    --info-normal-500: rgba(53, 49, 73, 0.5);
    --info-normal-rich: #2a273a;
    --info-normal-richer: #2a273a;
    --info-normal-richest: #1f1d2a;
    --info-light: #c2c1c8;
    --info-lighter: #d6d5da;
    --info-light-rich: #aeacb6;
    --info-dark: #1a1824;
    --info-darker: #0f0e15;

    --warning-normal: #ffc107;
    --warning-normal-500: rgba(255, 193, 7, 0.5);
    --warning-normal-rich: #e0a800;
    --warning-normal-richer: #d39e00;
    --warning-normal-richest: #c69500;
    --warning-light: #ffeeba;
    --warning-lighter: #fff3cd;
    --warning-light-rich: #ffe8a1;
    --warning-dark: #856404;
    --warning-darker: #533f03;
    --warning-contrast-text: #212529;

    /* Usar rosado para el danger, igual como es en Slack */
    --danger-normal: #dc3545;
    --danger-normal-500: rgba(220, 53, 69, 0.5);
    --danger-normal-rich: #c82333;
    --danger-normal-richer: #bd2130;
    --danger-normal-richest: #b21f2d;
    --danger-light: #f5c6cb;
    --danger-lighter: #f8d7da;
    --danger-light-rich: #f1b0b7;
    --danger-dark: #721c24;
    --danger-darker: #491217;

    --light-normal: #e5e5e5;
    --light-normal-500: rgba(229, 229, 229, 0.5);
    --light-normal-rich: #d8d8d8;
    --light-normal-richer: #d8d8d8;
    --light-normal-richest: #cbcbcb;
    --light-light: #f7f7f7;
    --light-lighter: #f9f9f9;
    --light-light-rich: #f4f4f4;
    --light-dark: #727272;
    --light-darker: #444444;

    --dark-normal: #1f1f1f;
    --dark-normal-500: rgba(31, 31, 31, 0.5);
    --dark-normal-rich: #121212;
    --dark-normal-richer: #121212;
    --dark-normal-richest: #050505;
    --dark-light: #bbbbbb;
    --dark-lighter: #d2d2d2;
    --dark-light-rich: #a5a5a5;
    --dark-dark: #0f0f0f;
    --dark-darker: #090909;

    --purple-normal: #f16f62;
    --purple-normal-500: rgba(241, 111, 98, 0.5);
    --purple-normal-rich: #ef5a4b;
    --purple-normal-richer: #ed4433;

    --orange-normal: #ff5722;
    --orange-normal-500: rgba(255, 87, 34, 0.5);
    --orange-normal-rich: #e25528;
    --orange-normal-richer: #c64921;
    --orange-normal-richest: #b23c17;
    --orange-light: #ffccbc;
    
    /* VARIABLES DE ESTILO PROPIO */
    --nav-lateral-background: #353149;
    --nav-lateral-accent: #f16f62;
    --nav-lateral-text: rgba(255, 255, 255, .6);
    --nav-lateral-scrollbar-thumb: rgba(255,255,255,.1);
    --nav-lateral-scrollbar-hover: rgba(255,255,255,.2);
    --scrollbar-thumb: #dfe0e1;
    --scrollbar-hover: #c6c7c8;
    --shadow-intensity: 0.75;
}
html[data-theme='dark'] {

    /* VARIABLES DE COMPONENTES DE BOOTSTRAP */
    --text: #e0e0e0;
    --text-900: rgba(224, 224, 224, 0.9);
    --text-800: rgba(224, 224, 224, 0.8);
    --text-700: rgba(224, 224, 224, 0.7);
    --text-600: rgba(224, 224, 224, 0.6);
    --text-500: rgba(224, 224, 224, 0.5);
    --text-400: rgba(224, 224, 224, 0.4);
    --text-300: rgba(224, 224, 224, 0.3);
    --text-200: rgba(224, 224, 224, 0.2);
    --text-100: rgba(224, 224, 224, 0.1);
    --text-transparent: rgba(224, 224, 244, 0);
    --text-contrary: #343a40;

    --background: #161d20;
    --navbar-background: #2d3336;
    --panel-background: #2d3336;
    --panel-background-rich: #444a4c;
    --modal-background: #161d20;
    --backdrop-opacity: 0.6;
    --tooltip-background: #FFF;
    --tooltip-text-color: #000;
    --card-border: 1px solid #5b6062;

    --form-control-border: #5b6062;
    --form-control-focus: #f16f62;
    --form-control-focus-highlight: rgba(241, 111, 98, 0.15);

    --table-background: #2d3336;
    --table-in-modal-background: #2d3336;
    --table-background-odd: rgba(255, 255, 255, 0.075);
    --table-hover: rgba(255, 255, 255, 0.1);
    --table-border: #444a4c;

    /* COLORES */
    /*--primary-normal: #f16f62;
    --primary-normal-500: rgba(241, 111, 98, 0.5);
    --primary-normal-rich: #ef5a4b;
    --primary-normal-richer: #ef5a4b;
    --primary-normal-richest: #ed4433;
    --primary-light: #783731;
    --primary-lighter: #48211d;
    --primary-light-rich: #321714;
    --primary-dark: #f9c5c0;
    --primary-darker: #fce2df;*/

    --secondary-normal: #3c3f43;
    --secondary-normal-500: rgba(60,63,67, 0.5);
    --secondary-normal-rich: #303236;
    --secondary-normal-richer: #303236;
    --secondary-normal-richest: #242628;
    --secondary-light: #18191a;
    --secondary-lighter: #121214;
    --secondary-light-rich: #1e1f21;
    --secondary-dark: #9d9fa1;
    --secondary-darker: #b1b2b3;

    --success-normal: #00bc8c; /* #bbfb6d <- Verde lima */
    --success-normal-500: rgba(0,188,140, 0.5);
    --success-normal-rich: #00a379;
    --success-normal-richer: #00a379;
    --success-normal-richest: #008966;
    --success-light: #004b38;
    --success-lighter: #00382a;
    --success-light-rich: #005e46;
    --success-dark: #7fddc5;
    --success-darker: #b2eadc;

    --info-normal: #353149;
    --info-normal-500: rgba(53, 49, 73, 0.5);
    --info-normal-rich: #2a273a;
    --info-normal-richer: #2a273a;
    --info-normal-richest: #1f1d2a;
    --info-light: #c2c1c8;
    --info-lighter: #d6d5da;
    --info-light-rich: #aeacb6;
    --info-dark: #1a1824;
    --info-darker: #0f0e15;

    --warning-normal: #f5af41;
    --warning-normal-500: rgba(245,175,65, 0.5);
    --warning-normal-rich: #f4a529;
    --warning-normal-richer: #f4a529;
    --warning-normal-richest: #f29b11;
    --warning-light: #62461a;
    --warning-lighter: #493413;
    --warning-light-rich: #7a5720;
    --warning-dark: #fad7a0;
    --warning-darker: #fce7c6;
    --warning-contrast-text: #343a40;

    --danger-normal: #ff5252;
    --danger-normal-500: rgba(255,82,82, 0.5);
    --danger-normal-rich: #ff3939;
    --danger-normal-richer: #ff3939;
    --danger-normal-richest: #ff1f1f;
    --danger-light: #662020;
    --danger-lighter: #4c1818;
    --danger-light-rich: #7f2929;
    --danger-dark: #ffa8a8;
    --danger-darker: #ffcbcb;

    --light-normal: #343a40;
    --light-normal-500: rgba(52, 58, 64, 0.5);
    --light-normal-rich: #23272b;
    --light-normal-richer: #1d2124;
    --light-normal-richest: #171a1d;
    --light-light: #c6c8ca;
    --light-lighter: #d6d8d9;
    --light-light-rich: #b9bbbe;
    --light-dark: #1b1e21;
    --light-darker: #040505;

    --dark-normal: #f8f9fa;
    --dark-normal-500: rgba(248, 249, 250, 0.5);
    --dark-normal-rich: #e2e6ea;
    --dark-normal-richer: #dae0e5;
    --dark-normal-richest: #d3d9df;
    --dark-light: #4a4a4b;
    --dark-lighter: #313132;
    --dark-light-rich: #636364;
    --dark-dark: #fbfcfc;
    --dark-darker: #fcfdfd;

    --purple-normal: #e63b3b;
    --purple-normal-500: rgba(230, 59, 59, 0.5);
    --purple-normal-rich: #e32424;
    --purple-normal-richer: #d31b1b;

    --orange-normal: #ff5722;
    --orange-normal-500: rgba(255, 87, 34, 0.5);
    --orange-normal-rich: #e25528;
    --orange-normal-richer: #c64921;
    --orange-normal-richest: #b23c17;
    --orange-light: #ffccbc;



    /* VARIABLES DE ESTILO PROPIO */
    /*--navbar-brand-filter: brightness(0) invert(0.8);*/
    --navbar-brand-filter: grayscale(100%) invert(0.8) brightness(1.65);
    --nav-lateral-background: #2d3336;
    --nav-lateral-accent: #f16f62;
    --nav-lateral-text: rgba(255, 255, 255, .6);
    --nav-lateral-scrollbar-thumb: rgba(224, 224, 224, .1);
    --nav-lateral-scrollbar-hover: rgba(224, 224, 224, .2);
    --scrollbar-thumb: rgba(224, 224, 224, .1);
    --scrollbar-hover: rgba(224, 224, 224, .2);
    --shadow-intensity: 4;
}

/* COLORIDO */
html[data-color-scheme='colorido'][data-theme='light'] {
    /* VARIABLES DE COMPONENTES DE BOOTSTRAP */
    --text: #212529;
    --text-900: rgba(33, 37, 41, 0.9);
    --text-800: rgba(33, 37, 41, 0.8);
    --text-700: rgba(33, 37, 41, 0.7);
    --text-600: rgba(33, 37, 41, 0.6);
    --text-500: rgba(33, 37, 41, 0.5);
    --text-400: rgba(33, 37, 41, 0.4);
    --text-300: rgba(33, 37, 41, 0.3);
    --text-200: rgba(33, 37, 41, 0.2);
    --text-100: rgba(33, 37, 41, 0.1);
    --text-transparent: rgba(33, 37, 41, 0);
    --text-contrary: #FFF;

    --background: #fff;
    --navbar-background: #f8f9fa;
    --panel-background: #f8f9fa; /* dfe0e1 c6c7c8 adaeaf 949596*/
    --panel-background-rich: #efeff0;
    --modal-background: #fff;
    --backdrop-opacity: 0.5;
    --tooltip-background: #000;
    --tooltip-text-color: #FFF;

    /* TODO: Buscar una manera sencilla de hacer los form control dinamicos en base al presupuesto */
    --form-control-border: #ced4da;
    --form-control-focus: #007bff;
    --form-control-focus-highlight: rgba(0, 123, 255, 0.15);
    --form-group-text-background: #e9ecef;

    --table-background: #fafbfc;
    --table-in-modal-background: #fafbfc;
    --table-background-odd: rgba(0, 0, 0, 0.028);
    --table-hover: rgba(0, 0, 0, 0.075);
    --table-border: #dee2e6;



    /* COLORES */
    --primary-normal: #007bff;
    --primary-normal-500: rgba(0, 123, 255, 0.5);
    --primary-normal-rich: #0069d9; /* Solo usado en btn-hover */
    --primary-normal-richer: #0062cc;
    --primary-normal-richest: #005cbf;
    --primary-light: #b8daff;
    --primary-lighter: #cce5ff;
    --primary-light-rich: #9fcdff;
    --primary-dark: #004085;
    --primary-darker: #002752; /* Solo usado en alert-link */

    --secondary-normal: #6c757d;
    --secondary-normal-500: rgba(108, 117, 125, 0.5);
    --secondary-normal-rich: #5a6268;
    --secondary-normal-richer: #545b62;
    --secondary-normal-richest: #4e555b;
    --secondary-light: #d6d8db;
    --secondary-lighter: #e2e3e5;
    --secondary-light-rich: #c8cbcf;
    --secondary-dark: #383d41;
    --secondary-darker: #202326;

    --success-normal: #28a745;
    --success-normal-500: rgba(40, 167, 69, 0.5);
    --success-normal-rich: #218838;
    --success-normal-richer: #1e7e34;
    --success-normal-richest: #1c7430;
    --success-light: #c3e6cb;
    --success-lighter: #d4edda;
    --success-light-rich: #b1dfbb;
    --success-dark: #155724;
    --success-darker: #0b2e13;

    --info-normal: #17a2b8;
    --info-normal-500: rgba(23, 162, 184, 0.5);
    --info-normal-rich: #138496;
    --info-normal-richer: #117a8b;
    --info-normal-richest: #10707f;
    --info-light: #bee5eb;
    --info-lighter: #d1ecf1;
    --info-light-rich: #abdde5;
    --info-dark: #0c5460;
    --info-darker: #062c33;

    --warning-normal: #ffc107;
    --warning-normal-500: rgba(255, 193, 7, 0.5);
    --warning-normal-rich: #e0a800;
    --warning-normal-richer: #d39e00;
    --warning-normal-richest: #c69500;
    --warning-light: #ffeeba;
    --warning-lighter: #fff3cd;
    --warning-light-rich: #ffe8a1;
    --warning-dark: #856404;
    --warning-darker: #533f03;
    --warning-contrast-text: #212529;

    --danger-normal: #dc3545;
    --danger-normal-500: rgba(220, 53, 69, 0.5);
    --danger-normal-rich: #c82333;
    --danger-normal-richer: #bd2130;
    --danger-normal-richest: #b21f2d;
    --danger-light: #f5c6cb;
    --danger-lighter: #f8d7da;
    --danger-light-rich: #f1b0b7;
    --danger-dark: #721c24;
    --danger-darker: #491217;

    --light-normal: #f8f9fa;
    --light-normal-500: rgba(248, 249, 250, 0.5);
    --light-normal-rich: #e2e6ea;
    --light-normal-richer: #dae0e5;
    --light-normal-richest: #d3d9df;
    --light-light: #fdfdfe;
    --light-lighter: #fefefe;
    --light-light-rich: #ececf6;
    --light-dark: #818182;
    --light-darker: #686868;

    --dark-normal: #343a40;
    --dark-normal-500: rgba(52, 58, 64, 0.5);
    --dark-normal-rich: #23272b;
    --dark-normal-richer: #1d2124;
    --dark-normal-richest: #171a1d;
    --dark-light: #c6c8ca;
    --dark-lighter: #d6d8d9;
    --dark-light-rich: #b9bbbe;
    --dark-dark: #1b1e21;
    --dark-darker: #040505;

    --purple-normal: #875ba5;
    --purple-normal-500: rgba(135, 91, 165, 0.5);
    --purple-normal-rich: #6e4a87;
    --purple-normal-richer: #614177;

    --orange-normal: #ff5722;
    --orange-normal-500: rgba(255, 87, 34, 0.5);
    --orange-normal-rich: #e25528;
    --orange-normal-richer: #c64921;
    --orange-normal-richest: #b23c17;
    --orange-light: #ffccbc;
    
    /* VARIABLES DE ESTILO PROPIO */
    --navbar-brand-filter: initial;
    --nav-lateral-background: #282828;
    --nav-lateral-accent: #FFF;
    --nav-lateral-scrollbar-thumb: rgba(255,255,255,.1);
    --nav-lateral-scrollbar-hover: rgba(255,255,255,.2);
    --scrollbar-thumb: #dfe0e1;
    --scrollbar-hover: #c6c7c8;
    --shadow-intensity: 1;
}
html[data-color-scheme='colorido'][data-theme='dark'] {

    /* VARIABLES DE COMPONENTES DE BOOTSTRAP */
    --text: #e0e0e0;
    --text-900: rgba(224, 224, 224, 0.9);
    --text-800: rgba(224, 224, 224, 0.8);
    --text-700: rgba(224, 224, 224, 0.7);
    --text-600: rgba(224, 224, 224, 0.6);
    --text-500: rgba(224, 224, 224, 0.5);
    --text-400: rgba(224, 224, 224, 0.4);
    --text-300: rgba(224, 224, 224, 0.3);
    --text-200: rgba(224, 224, 224, 0.2);
    --text-100: rgba(224, 224, 224, 0.1);
    --text-transparent: rgba(224, 224, 244, 0);
    --text-contrary: #343a40;

    --background: #161d20;
    --navbar-background: #2d3336; /*161d20 2d3336 444a4c 5b6062  737779  8a8e8f*/
    --panel-background: #2d3336;
    --panel-background-rich: #444a4c;
    --modal-background: #24282b;
    --backdrop-opacity: 0.6;
    --tooltip-background: #FFF;
    --tooltip-text-color: #000;

    --form-control-border: #5b6062;
    --form-control-focus: #80bdff;
    --form-control-focus-highlight: rgba(0, 123, 255, 0.25);

    --table-background: #2d3336;
    --table-in-modal-background: #444a4c;
    --table-background-odd: rgba(255, 255, 255, 0.075);
    --table-hover: rgba(255, 255, 255, 0.1);
    --table-border: #444a4c;

    /* COLORES */
    --primary-normal: #3498DB;
    --primary-normal-500: rgba(52,152,219, 0.5);
    --primary-normal-rich: #258cd1; /* Solo usado en btn-hover */
    --primary-normal-richer: #258cd1;
    --primary-normal-richest: #217dbb;
    --primary-light: #0f2d41;
    --primary-lighter: #0a1e2b;
    --primary-light-rich: #143c57;
    --primary-dark: #99cbed;
    --primary-darker: #c2e0f4; /* Solo usado en alert-link */

    --secondary-normal: #3c3f43;
    --secondary-normal-500: rgba(60,63,67, 0.5);
    --secondary-normal-rich: #303236;
    --secondary-normal-richer: #303236;
    --secondary-normal-richest: #242628;
    --secondary-light: #18191a;
    --secondary-lighter: #121214;
    --secondary-light-rich: #1e1f21;
    --secondary-dark: #9d9fa1;
    --secondary-darker: #b1b2b3;

    --success-normal: #00bc8c; /* #bbfb6d <- Verde lima */
    --success-normal-500: rgba(0,188,140, 0.5);
    --success-normal-rich: #00a379;
    --success-normal-richer: #00a379;
    --success-normal-richest: #008966;
    --success-light: #004b38;
    --success-lighter: #00382a;
    --success-light-rich: #005e46;
    --success-dark: #7fddc5;
    --success-darker: #b2eadc;

    --info-normal: #24c2d7;
    --info-normal-500: rgba(36,194,215, 0.5);
    --info-normal-rich: #20aec1;
    --info-normal-richer: #20aec1;
    --info-normal-richest: #1d9bab;
    --info-light: #0e4d56;
    --info-lighter: #0a3a40;
    --info-light-rich: #12616b;
    --info-dark: #91e0eb;
    --info-darker: #bdecf3;

    --warning-normal: #f5af41;
    --warning-normal-500: rgba(245,175,65, 0.5);
    --warning-normal-rich: #f4a529;
    --warning-normal-richer: #f4a529;
    --warning-normal-richest: #f29b11;
    --warning-light: #62461a;
    --warning-lighter: #493413;
    --warning-light-rich: #7a5720;
    --warning-dark: #fad7a0;
    --warning-darker: #fce7c6;
    --warning-contrast-text: #343a40;

    --danger-normal: #ff5252;
    --danger-normal-500: rgba(255,82,82, 0.5);
    --danger-normal-rich: #ff3939;
    --danger-normal-richer: #ff3939;
    --danger-normal-richest: #ff1f1f;
    --danger-light: #662020;
    --danger-lighter: #4c1818;
    --danger-light-rich: #7f2929;
    --danger-dark: #ffa8a8;
    --danger-darker: #ffcbcb;

    --light-normal: #343a40;
    --light-normal-500: rgba(52, 58, 64, 0.5);
    --light-normal-rich: #23272b;
    --light-normal-richer: #1d2124;
    --light-normal-richest: #171a1d;
    --light-light: #c6c8ca;
    --light-lighter: #d6d8d9;
    --light-light-rich: #b9bbbe;
    --light-dark: #1b1e21;
    --light-darker: #040505;

    --dark-normal: #f8f9fa;
    --dark-normal-500: rgba(248, 249, 250, 0.5);
    --dark-normal-rich: #e2e6ea;
    --dark-normal-richer: #dae0e5;
    --dark-normal-richest: #d3d9df;
    --dark-light: #4a4a4b;
    --dark-lighter: #313132;
    --dark-light-rich: #636364;
    --dark-dark: #fbfcfc;
    --dark-darker: #fcfdfd;

    --purple-normal: #ad6dfb; /* Este morado es bastante ilegible... */
    --purple-normal-500: rgba(173,109,251, 0.5);
    --purple-normal-rich: #9f54fa;
    --purple-normal-richer: #913bfa;

    --orange-normal: #fd7e14;
    --orange-normal-500: rgba(253,126,20, 0.5);
    --orange-normal-rich: #f57102;
    --orange-normal-richer: #f57102;
    --orange-normal-richest: #dc6502;
    --orange-light: #653208;



    /* VARIABLES DE ESTILO PROPIO */
    /*--navbar-brand-filter: brightness(0) invert(0.8);*/
    --navbar-brand-filter: grayscale(100%) invert(0.8) brightness(1.65);
    --nav-lateral-background: #2d3336;
    --nav-lateral-accent: #FFF;
    --nav-lateral-scrollbar-thumb: rgba(255,255,255,.2);
    --nav-lateral-scrollbar-hover: rgba(255,255,255,.3);
    --scrollbar-thumb: rgba(255,255,255,.2);
    --scrollbar-hover: rgba(255,255,255,.3);
    --shadow-intensity: 3;

}
